In [1]:
import splusdata
import getpass
import pandas as pd
from astropy.table import Table, vstack
import numpy as np
from pathlib import Path

WARNING: AstropyDeprecationWarning: The update_default_config function is deprecated and may be removed in a future version. [astroquery._astropy_init]

In [2]:
# Connecting with SPLUS database
username = input(prompt="Login: ")
password = getpass.getpass("Password: ")
conn = splusdata.connect(username, password)

Login: Luis
Password: ········
You have access to internal data

In [4]:
df = pd.read_csv("../smc-final-update.csv")
#df = pd.read_csv("all_CaMg_0622_simbad.dat")
#df.rename(columns={' RA': 'RA', ' DEC': 'DEC'}, inplace=True)
#df["RA"]

In [5]:
# Rewriten the table
df.columns

Index(['Name', 'RAJ2000', 'DEJ2000', 'SplusStatus', 'Spectra'], dtype='object')

In [6]:
columns = ['recno', 'Name', '_RA', '_DE', 'FHbeta', 'e_FHbeta', 'n_Ne-', 'Ne-', 'l_T[OIII]',
       'T[OIII]', 'l_T[NII]', 'T[NII]', 'Copt', 'SimbadName']

In [7]:
#df = df[columns]
df

            Name    RAJ2000    DEJ2000 SplusStatus Spectra
0    LHA 115-N 4   8.591625 -73.222611           0       n
1    LHA 115-N 5  10.340333 -72.754639           0       n
2    LHA 115-N 6  10.365625 -73.785139           0     NaN
3   Jacoby SMC 1  10.617292 -73.348639           0     NaN
4      [MA93] 44  10.789167 -73.134361           0     NaN
..           ...        ...        ...         ...     ...
91   LHA_115-N_8  10.805830 -72.920280          0?     NaN
92          DPR1  13.608333 -72.516500           0       y
93          DPR2  14.948333 -72.542056           0       y
94          DPR3  15.730000 -72.358889           0       y
95          DPR4  16.125000 -73.252917           0       y

[96 rows x 5 columns]

In [ ]:
#df.rename(columns={'_RA': 'RA', '_DE': 'DEC'}, inplace=True)
#df

In [ ]:
#Query = f"""SELECT r.FIELD, r.ID, r.RA_r, r.DEC_r, u.u_psf, z.z_psf, g.g_psf, r.r_psf, i.i_psf,
 #       j0378.j0378_psf, j0395.j0395_psf, j0410.j0410_psf, 
 #       j0430.j0430_psf, j0515.j0515_psf, j0660.j0660_psf, 
  #      j0861.j0861_psf, u.e_u_psf, z.e_z_psf, g.e_g_psf, r.e_r_psf, i.e_i_psf,
  #      j0378.e_j0378_psf, j0395.e_j0395_psf, j0410.e_j0410_psf, 
  #      j0430.e_j0430_psf, j0515.e_j0515_psf, j0660.e_j0660_psf, 
  #      j0861.e_j0861_psf FROM idr4_psf.idr4_psf_g as g JOIN 
  #      idr4_psf.idr4_psf_z as z on z.ID = g.ID JOIN
  #      idr4_psf.idr4_psf_r as r on r.id = g.id join
  #      idr4_psf.idr4_psf_i as i on i.id = g.id join
  #      idr4_psf.idr4_psf_u as u on u.id = g.id join
  #      idr4_psf.idr4_psf_j0378 as j0378 on j0378.id = g.id join
  #      idr4_psf.idr4_psf_j0395 as j0395 on j0395.id = g.id join
  #      idr4_psf.idr4_psf_j0410 as j0410 on j0410.id = g.id join
  #      idr4_psf.idr4_psf_j0430 as j0430 on j0430.id = g.id join
  #      idr4_psf.idr4_psf_j0515 as j0515 on j0515.id = g.id join
  #      idr4_psf.idr4_psf_j0660 as j0660 on j0660.id = g.id join
  #      idr4_psf.idr4_psf_j0861 as j0861 on j0861.id = g.id JOIN TAP_UPLOAD.upload AS upl 
  #          ON 1=CONTAINS( POINT('ICRS', r.RA_r, r.DEC_r), 
  #          CIRCLE('ICRS', upl.RA_ICRS, upl.DE_ICRS, 0.000277777777778))"""

In [10]:
Query = f"""SELECT r.Field, r.ID, r.RA_r, r.DEC_r, r.CLASS_STAR_r, r.r_psf, r.e_r_psf
            FROM idr4_psf.idr4_psf_r as r
            JOIN TAP_UPLOAD.upload AS upl 
            ON 1=CONTAINS( POINT('ICRS', r.RA_r, r.DEC_r), 
            CIRCLE('ICRS', upl.RAJ2000, upl.DEJ2000, 0.000277777777778))"""

In [ ]:
results = conn.query(Query, df)