In [1]:
import splusdata
import getpass
import pandas as pd
from astropy.table import Table, vstack
import numpy as np
from pathlib import Path

WARNING: AstropyDeprecationWarning: The update_default_config function is deprecated and may be removed in a future version. [astroquery._astropy_init]

In [2]:
# Connecting with SPLUS database
username = input(prompt="Login: ")
password = getpass.getpass("Password: ")
conn = splusdata.connect(username, password)

Login: Luis
Password: ········
You have access to internal data

In [3]:
df = pd.read_csv("TAP_3_J_A+A_456_451_PNe.csv")
#df = pd.read_csv("all_CaMg_0622_simbad.dat")
#df.rename(columns={' RA': 'RA', ' DEC': 'DEC'}, inplace=True)
#df["RA"]

In [4]:
# Rewriten the table
df.columns

Index(['recno', 'Name', 'FHbeta', 'e_FHbeta', 'n_Ne-', 'Ne-', 'l_T[OIII]',
       'T[OIII]', 'l_T[NII]', 'T[NII]', 'Copt', 'SimbadName', '_RA', '_DE'],
      dtype='object')

In [5]:
columns = ['recno', 'Name', '_RA', '_DE', 'FHbeta', 'e_FHbeta', 'n_Ne-', 'Ne-', 'l_T[OIII]',
       'T[OIII]', 'l_T[NII]', 'T[NII]', 'Copt', 'SimbadName']

In [6]:
df = df[columns]
df

,recno,Name,_RA,_DE,FHbeta,e_FHbeta,n_Ne-,Ne-,l_T[OIII],T[OIII],l_T[NII],T[NII],Copt,SimbadName
0,1,SMP_SMC_1,5.99433,-73.63444,NaN,NaN,*,5000.0,,11100.0,:,11100.0,0.02,SMP SMC 1
1,2,SMP_SMC_2,8.16179,-71.69986,NaN,NaN,,3000.0,,16200.0,:,16200.0,0.01,SMP SMC 2
2,3,SMP_SMC_3,8.59137,-73.22264,871.0,5.0,,21500.0,,13600.0,:,13600.0,0.19,SMP SMC 3
3,4,SMP_SMC_4,10.19254,-75.27244,1259.0,3.0,,6100.0,,15700.0,:,15700.0,0.39,SMP SMC 4
4,5,SMP_SMC_5,10.34029,-72.75467,NaN,NaN,,3200.0,,14500.0,:,14500.0,0.00,SMP SMC 5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,179,[M94b] 51,96.26792,-69.12639,NaN,NaN,,100.0,*,12000.0,*,12000.0,0.18,[M94b] 51
179,180,[M94b] 52,96.64917,-69.82750,NaN,NaN,,300.0,*,12000.0,*,12000.0,0.00,[M94b] 52
180,181,LHA_120-N_16,74.50000,-67.70000,NaN,NaN,,300.0,*,12000.0,*,12000.0,0.00,LHA 120-N 16
181,182,LHA_120-N_47,81.09167,-67.14833,NaN,NaN,*,5000.0,*,12000.0,*,12000.0,0.00,LHA 120-N 47
182,183,LHA_120-N_99,76.59042,-64.64500,NaN,NaN,*,5000.0,:,11700.0,,11700.0,0.25,LHA 120-N 99

In [7]:
df.rename(columns={'_RA': 'RA', '_DE': 'DEC'}, inplace=True)
df

,recno,Name,RA,DEC,FHbeta,e_FHbeta,n_Ne-,Ne-,l_T[OIII],T[OIII],l_T[NII],T[NII],Copt,SimbadName
0,1,SMP_SMC_1,5.99433,-73.63444,NaN,NaN,*,5000.0,,11100.0,:,11100.0,0.02,SMP SMC 1
1,2,SMP_SMC_2,8.16179,-71.69986,NaN,NaN,,3000.0,,16200.0,:,16200.0,0.01,SMP SMC 2
2,3,SMP_SMC_3,8.59137,-73.22264,871.0,5.0,,21500.0,,13600.0,:,13600.0,0.19,SMP SMC 3
3,4,SMP_SMC_4,10.19254,-75.27244,1259.0,3.0,,6100.0,,15700.0,:,15700.0,0.39,SMP SMC 4
4,5,SMP_SMC_5,10.34029,-72.75467,NaN,NaN,,3200.0,,14500.0,:,14500.0,0.00,SMP SMC 5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,179,[M94b] 51,96.26792,-69.12639,NaN,NaN,,100.0,*,12000.0,*,12000.0,0.18,[M94b] 51
179,180,[M94b] 52,96.64917,-69.82750,NaN,NaN,,300.0,*,12000.0,*,12000.0,0.00,[M94b] 52
180,181,LHA_120-N_16,74.50000,-67.70000,NaN,NaN,,300.0,*,12000.0,*,12000.0,0.00,LHA 120-N 16
181,182,LHA_120-N_47,81.09167,-67.14833,NaN,NaN,*,5000.0,*,12000.0,*,12000.0,0.00,LHA 120-N 47
182,183,LHA_120-N_99,76.59042,-64.64500,NaN,NaN,*,5000.0,:,11700.0,,11700.0,0.25,LHA 120-N 99

In [8]:
#Query = f"""SELECT r.FIELD, r.ID, r.RA_r, r.DEC_r, u.u_psf, z.z_psf, g.g_psf, r.r_psf, i.i_psf,
 #       j0378.j0378_psf, j0395.j0395_psf, j0410.j0410_psf, 
 #       j0430.j0430_psf, j0515.j0515_psf, j0660.j0660_psf, 
  #      j0861.j0861_psf, u.e_u_psf, z.e_z_psf, g.e_g_psf, r.e_r_psf, i.e_i_psf,
  #      j0378.e_j0378_psf, j0395.e_j0395_psf, j0410.e_j0410_psf, 
  #      j0430.e_j0430_psf, j0515.e_j0515_psf, j0660.e_j0660_psf, 
  #      j0861.e_j0861_psf FROM idr4_psf.idr4_psf_g as g JOIN 
  #      idr4_psf.idr4_psf_z as z on z.ID = g.ID JOIN
  #      idr4_psf.idr4_psf_r as r on r.id = g.id join
  #      idr4_psf.idr4_psf_i as i on i.id = g.id join
  #      idr4_psf.idr4_psf_u as u on u.id = g.id join
  #      idr4_psf.idr4_psf_j0378 as j0378 on j0378.id = g.id join
  #      idr4_psf.idr4_psf_j0395 as j0395 on j0395.id = g.id join
  #      idr4_psf.idr4_psf_j0410 as j0410 on j0410.id = g.id join
  #      idr4_psf.idr4_psf_j0430 as j0430 on j0430.id = g.id join
  #      idr4_psf.idr4_psf_j0515 as j0515 on j0515.id = g.id join
  #      idr4_psf.idr4_psf_j0660 as j0660 on j0660.id = g.id join
  #      idr4_psf.idr4_psf_j0861 as j0861 on j0861.id = g.id JOIN TAP_UPLOAD.upload AS upl 
  #          ON 1=CONTAINS( POINT('ICRS', r.RA_r, r.DEC_r), 
  #          CIRCLE('ICRS', upl.RA_ICRS, upl.DE_ICRS, 0.000277777777778))"""

In [9]:
Query = f"""SELECT r.Field, r.ID, r.RA_r, r.DEC_r, r.CLASS_STAR_r, r.r_psf, r.e_r_psf
            FROM idr4_psf.idr4_psf_r as r
            JOIN TAP_UPLOAD.upload AS upl 
            ON 1=CONTAINS( POINT('ICRS', r.RA_r, r.DEC_r), 
            CIRCLE('ICRS', upl.RA, upl.DEC, 0.000277777777778))"""

In [ ]:
results = conn.query(Query, df)

WARNING: W03: ?:?:?: W03: Implicitly generating an ID from a name 'l_T[OIII]' -> 'l_T_OIII_' [astropy.io.votable.xmlutil]
WARNING: W03: ?:?:?: W03: Implicitly generating an ID from a name 'T[OIII]' -> 'T_OIII_' [astropy.io.votable.xmlutil]
WARNING: W03: ?:?:?: W03: Implicitly generating an ID from a name 'l_T[NII]' -> 'l_T_NII_' [astropy.io.votable.xmlutil]
WARNING: W03: ?:?:?: W03: Implicitly generating an ID from a name 'T[NII]' -> 'T_NII_' [astropy.io.votable.xmlutil]