In [1]:
import numpy as np
from astropy.table import Table, Column, MaskedColumn, vstack
import astropy.coordinates as coord

In [2]:
tab_base = Table.read('../Tab_2_J_A+A_561_A8_table1.ecsv', format='ascii.ecsv')
tab_base['coord'] = coord.SkyCoord(ra=tab_base['RAJ2000'], dec=tab_base['DEJ2000'], unit=('deg', 'deg'))
  # tab_four = Table.read('Four-PNe-SMC-2015.ecsv', 
  #      format='ascii.ecsv')
  # tab_four['coord'] = coord.SkyCoord(ra=tab_base['RA'], dec=tab_base['DEC'],
  #   unit=('hourangle', 'deg'))
tab_269 = Table.read('../TAP_1_J_AJ_123_269_table.ecsv', format='ascii.ecsv')
tab_269['coord'] = coord.SkyCoord(ra=tab_269['RAJ2000'], dec=tab_269['DEJ2000'], unit=('deg', 'deg'))
tab_smc = Table.read('../TAP_3_J_A+A_456_451_PNe_onlySMC.ecsv', format='ascii.ecsv')
tab_smc['coord'] = coord.SkyCoord(ra=tab_smc['_RA'], dec=tab_smc['_DE'], unit=('deg', 'deg'))

In [3]:
MAXSEP = 1.0
sourceseps = []
for pn in tab_269:
    seps = pn['coord'].separation(tab_base['coord']).arcsec
    iclosest = seps.argmin()
    sourceseps.append(seps[iclosest])

In [4]:
Col_base = ["Name", "RAJ2000", "DEJ2000"]
tab_base_ = tab_base[Col_base]
tab_269.rename_column('recno', 'Name')
tab_269_ = tab_269[Col_base]
tab_269_

<Table length=25>
 Name      RAJ2000            DEJ2000
int64      float64            float64
----- ------------------ ------------------
    1 11.298749999999998 -73.31616666666666
    2 11.402083333333332 -73.40108333333332
    3 11.659999999999998 -73.42413888888888
    4 11.818749999999998 -73.18691666666666
    5 11.916666666666664 -72.65013888888888
    6 12.283749999999998 -73.03999999999999
    7 12.395833333333332 -73.44358333333332
    8 12.448333333333332 -72.68633333333332
  ...                ...                ...
   18  14.75708333333333 -73.44480555555555
   19 14.873333333333331  -73.6523611111111
   20 15.062083333333332 -72.27758333333333
   21 15.389999999999995 -72.58130555555555
   22 15.470416666666663 -73.69794444444443
   23 15.504166666666665 -72.98299999999999
   24 15.700833333333332 -72.95558333333332
   25  15.86083333333333 -73.03655555555555

In [5]:
tab_269_['Name'] = tab_269_['Name'].astype(str)

In [6]:
mask = np.array(sourceseps) >= MAXSEP
mask

array([ True, False,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True])

In [7]:
tab_269_unmatch = tab_269_[mask]

In [8]:
tab_269_unmatch

<Table length=23>
 Name      RAJ2000            DEJ2000
str21      float64            float64
----- ------------------ ------------------
    1 11.298749999999998 -73.31616666666666
    3 11.659999999999998 -73.42413888888888
    4 11.818749999999998 -73.18691666666666
    5 11.916666666666664 -72.65013888888888
    7 12.395833333333332 -73.44358333333332
    8 12.448333333333332 -72.68633333333332
    9  12.51458333333333 -73.18038888888888
   10           12.59875 -72.38569444444444
  ...                ...                ...
   18  14.75708333333333 -73.44480555555555
   19 14.873333333333331  -73.6523611111111
   20 15.062083333333332 -72.27758333333333
   21 15.389999999999995 -72.58130555555555
   22 15.470416666666663 -73.69794444444443
   23 15.504166666666665 -72.98299999999999
   24 15.700833333333332 -72.95558333333332
   25  15.86083333333333 -73.03655555555555

In [9]:
T12_base = vstack([tab_base_, tab_269_unmatch])
T12_base['coord'] = coord.SkyCoord(ra=T12_base['RAJ2000'], dec=T12_base['DEJ2000'], unit=('deg', 'deg'))
T12_base

<Table length=68>
    Name          RAJ2000            DEJ2000                       coord
                                                                  deg,deg
   str21          float64            float64                      SkyCoord
------------ ------------------ ------------------ -------------------------------------
 LHA 115-N 4  8.591624999999999  -73.2226111111111   8.591624999999999,-73.2226111111111
 LHA 115-N 5 10.340333333333332 -72.75463888888888 10.340333333333332,-72.75463888888888
 LHA 115-N 6 10.365624999999998 -73.78513888888888 10.365624999999998,-73.78513888888888
Jacoby SMC 1 10.617291666666665 -73.34863888888889 10.617291666666665,-73.34863888888889
   [MA93] 44 10.789166666666665  -73.1343611111111  10.789166666666665,-73.1343611111111
 LHA 115-N 7            10.8555 -72.63858333333333            10.8555,-72.63858333333333
  MGPN SMC 6 11.107208333333332 -73.86091666666665 11.107208333333332,-73.86091666666665
         ...                ...                ...                                   ...
          18  14.75708333333333 -73.44480555555555  14.75708333333333,-73.44480555555555
          19 14.873333333333331  -73.6523611111111  14.873333333333331,-73.6523611111111
          20 15.062083333333332 -72.27758333333333 15.062083333333332,-72.27758333333333
          21 15.389999999999995 -72.58130555555555 15.389999999999995,-72.58130555555555
          22 15.470416666666663 -73.69794444444443 15.470416666666663,-73.69794444444443
          23 15.504166666666665 -72.98299999999999 15.504166666666665,-72.98299999999999
          24 15.700833333333332 -72.95558333333332 15.700833333333332,-72.95558333333332
          25  15.86083333333333 -73.03655555555555  15.86083333333333,-73.03655555555555

In [10]:
sourceseps1 = []
for pn in tab_smc:
    seps = pn['coord'].separation(T12_base['coord']).arcsec
    iclosest = seps.argmin()
    sourceseps1.append(seps[iclosest])

In [11]:
T12_base_ = T12_base[Col_base]
tab_smc.rename_column('_RA', 'RAJ2000')
tab_smc.rename_column('_DE', 'DEJ2000')
tab_smc_ = tab_smc[Col_base]
tab_smc_

<Table length=45>
    Name    RAJ2000   DEJ2000
   str11    float64   float64
----------- -------- ---------
  SMP_SMC_1  5.99433 -73.63444
  SMP_SMC_2  8.16179 -71.69986
  SMP_SMC_3  8.59137 -73.22264
  SMP_SMC_4 10.19254 -75.27244
  SMP_SMC_5 10.34029 -72.75467
  SMP_SMC_6 10.36583 -73.78508
  SMP_SMC_7 10.61867 -73.34831
  SMP_SMC_8 10.85554 -72.63867
        ...      ...       ...
 MGPN_SMC_5 10.36375 -75.04778
 MGPN_SMC_6 11.10667 -73.86083
 MGPN_SMC_7 11.92708 -74.80417
 MGPN_SMC_8 14.08208 -72.11667
 MGPN_SMC_9 14.67887 -72.45467
    [M95]_1     2.18 -76.00278
    [M95]_2 11.50958 -74.14361
LHA_115-N_8 10.80583 -72.92028

In [12]:
mask1 = np.array(sourceseps1) >= MAXSEP

In [13]:
tab_smc_unmatch = tab_smc_[mask1]
tab_smc_unmatch

<Table length=24>
    Name    RAJ2000   DEJ2000
   str11    float64   float64
----------- -------- ---------
  SMP_SMC_1  5.99433 -73.63444
  SMP_SMC_2  8.16179 -71.69986
  SMP_SMC_4 10.19254 -75.27244
  SMP_SMC_7 10.61867 -73.34831
  SMP_SMC_9 11.33704 -73.40253
 SMP_SMC_10 11.74862 -72.82111
 SMP_SMC_11  12.1475 -72.96917
 SMP_SMC_17 12.98517 -71.41225
        ...      ...       ...
 MGPN_SMC_2   7.0425 -72.97889
 MGPN_SMC_3   7.3375 -72.23528
 MGPN_SMC_5 10.36375 -75.04778
 MGPN_SMC_7 11.92708 -74.80417
 MGPN_SMC_8 14.08208 -72.11667
    [M95]_1     2.18 -76.00278
    [M95]_2 11.50958 -74.14361
LHA_115-N_8 10.80583 -72.92028

In [14]:
tab_final = vstack([T12_base_, tab_smc_unmatch])
tab_final

<Table length=92>
    Name          RAJ2000            DEJ2000
   str21          float64            float64
------------ ------------------ ------------------
 LHA 115-N 4  8.591624999999999  -73.2226111111111
 LHA 115-N 5 10.340333333333332 -72.75463888888888
 LHA 115-N 6 10.365624999999998 -73.78513888888888
Jacoby SMC 1 10.617291666666665 -73.34863888888889
   [MA93] 44 10.789166666666665  -73.1343611111111
 LHA 115-N 7            10.8555 -72.63858333333333
  MGPN SMC 6 11.107208333333332 -73.86091666666665
  [JD2002] 1 11.300416666666663  -73.3161111111111
         ...                ...                ...
  MGPN_SMC_2             7.0425          -72.97889
  MGPN_SMC_3             7.3375          -72.23528
  MGPN_SMC_5           10.36375          -75.04778
  MGPN_SMC_7           11.92708          -74.80417
  MGPN_SMC_8           14.08208          -72.11667
     [M95]_1               2.18          -76.00278
     [M95]_2           11.50958          -74.14361
 LHA_115-N_8           10.80583          -72.92028

In [15]:
tab_final.write("../smc-final.ecsv", format="ascii.ecsv", overwrite=True)

In [16]:
df = tab_final.to_pandas()
df.to_csv("../smc-final.csv", index=False)